

# Global period constraint
NET "clk" TNM_NET = "clk_2e6d98b4";
TIMESPEC "TS_clk_2e6d98b4" = PERIOD "clk_2e6d98b4" 20.0 ns HIGH 50 %;

# Offset in constraints

# Offset out constraints

# Offset inout constraints

# LOC constraints
NET "clk" LOC = "Fixed";
